{% extends 'base.html' %}
{% load static %}
{% block customjavascript %}{% endblock %}
{% block maincontents %}
<div class="container bold">
<div class="row my-3 py-3">
    <div class="col-11">
<h5 class="text-danger bold me-auto" style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;text-decoration:double;font-weight:bolder">
Q&A {% if title %} :{{title|title}}{% endif %}</h5>
{% if text_qa %}
<div id="textcar" class="carousel slide" data-bs-touch="false" data-bs-interval="false">
    <div class="carousel-indicators mt-2">
        {% for ques in text_qa %}
        {% if forloop.first %}
        <button type="button" data-bs-target="#textcar" data-bs-slide-to="{{forloop.counter0}}" class="active" aria-current="true" aria-label="Slide {{forloop.counter}}"></button>
        {% else %}
        <button type="button" data-bs-target="#textcar" data-bs-slide-to="{{forloop.counter0}}" aria-label="Slide {{forloop.counter}}"></button>
        {% endif %}
        {% endfor %}
    </div>
        <div class="carousel-inner text-big">
    {% for ques,ans,score in text_qa %}
    {% if forloop.first %}
    <div class="carousel-item active">
        <div class="card card-body mb-2 mt-2 px-2" style="border-radius:10px;background:rgba(238, 151, 64, 0.7)"><p class="bold text-dark">Question: {{forloop.counter}}/{{text_qa|length}}</p>
            <p class="bold text-dark">{{ques}}</p>
            <a data-bs-toggle="collapse" href="#anscontent{{forloop.counter}}" class="text-decoration-none ms-auto" aria-controls="anscontent{{forloop.counter}}" aria-expanded="true">
                View Answer
            </a></div>
            <div class="collapse card card-body" id="anscontent{{forloop.counter}}" ><p class="bold text-dark">{{ans}}</p><p class="bold text-success">Confidence: {{score}}%</p></div>
    </div>
    {% else %}
    <div class="carousel-item">
        <div class="card card-body mb-2 mt-2 px-2" style="border-radius:10px;background:rgba(238, 151, 64, 0.7)"><p class="bold text-dark">Question: {{forloop.counter}}/{{text_qa|length}}</p>
            <p class="bold text-dark">{{ques}}</p>
            <a data-bs-toggle="collapse" href="#anscontent{{forloop.counter}}" class="text-decoration-none ms-auto" aria-controls="anscontent{{forloop.counter}}" aria-expanded="true">
                View Answer
            </a></div>
            <div class="collapse card card-body" id="anscontent{{forloop.counter}}" ><p class="bold text-dark">{{ans}}</p><p class="bold text-success">Confidence: {{score}}%</p></div>
    </div>
    {% endif %}
        {% endfor %}
        </div>
    </div>
    {% endif %}
    </div>
    </div>
    <div class="container">
        <div class="d-flex flex-row mt-1">
        {% if text_qa %}
        <button class="btn btn-sm btn-danger me-auto" type="button" data-bs-target="#textcar" data-bs-slide="prev">Previous</button>
        <button class="btn btn-sm btn-success ms-auto" type="button" data-bs-target="#textcar" data-bs-slide="next">Next</button>
        {% endif %}
        </div>    
    </div>
    </div>    
{% endblock %}